<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/site/public/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script-->

<link rel="stylesheet" href="/site/public/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" >
<script type='text/javascript' src='/site/public/static/js/jquery-3.3.1.min.js'></script>
<script src="/site/public/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/site/public/static/js/sha1.js"></script>

<title>CC运动</title>


</head>





<FRAMESET cols="15%,*">
<FRAME src="menu">
<FRAME name="content" src="m_main">
</FRAMESET> 

</html>