<HTML><HEAD></HEAD>
<BODY><P><BR>
<li>
<A href="m_main"  target="content">首页</A><P>
</li>

<li><A href="m_site_manage"  target="content">场地管理</A><P>
<ul><a href="m_site_manage"  target="content">场地信息维护</a></ul>
<ul><a href="m_site_manage"  target="content">场地预留</a></ul>
</li>

<li><A href="m_member"  target="content">会员管理</A><P>
<ul><a href="m_member1"  target="content">新增会员</a></ul>
<ul><a href="m_member2"  target="content">会员充值</a></ul>
</li>

<li><A href="m_report"  target="content">报表查看</A><P>
<ul><a href="m_report"  target="content">查看当前空场情况</a></ul>
<ul><a href="m_report"  target="content">查看历史交易情况</a></ul>
<ul><a href="m_report"  target="content">对账表</a></ul>
<ul><a href="m_report"  target="content">场馆收入情况</a></ul>
</li>

<li><A href="m_system"  target="content">系统管理</A>
<ul><a href="m_system"  target="content">用户权限管理</a></ul>
<ul><a href="m_system"  target="content">系统使用情况</a></ul>
<ul><a href="m_system"  target="content">用操作日志管理</a></ul>
</li>

</BODY></HTML>